header {
    background-color: #89023e;
    color: white;
    font-size: 20px;
    margin: 0px;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: 'poppins';
}
nav {
    display: block;
    width: 100%;
    height: 55px;
}


li > ul {
    display: none;
}

ul li ul.dropdown{
    display: block;
}

.navbar ul li ul.dropdown {
    display: none;
}

.navbar ul li:hover >ul.dropdown {
    display: block;
}

.navbar ul {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: .5em;
    gap: 10px;
    background-color:white;
    color: white;
    list-style: none;
    flex-shrink: 2;

}


nav > ul li {
    width: 150px;
    position: relative;
    text-align: center;

}

nav ul > li ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 1000;
}

nav > ul > li:hover > ul {
    display: block;
}

.dropdown li a:hover {
    background: #b1dfe6;
}


ul li ul.dropdown{
    width: 100%;
    background: #22438C;
    position: absolute;
}

.nav-logo {
    height: auto;
    background-color: white;
    margin-right: auto;

}
.navbar a{
    font-size: 20px;
    color: #15616d;
    background-color: white;
    text-decoration: none;
    padding: 6px;
    display: block;
    font-weight: bold;
    text-align: center;
}

.navbar ul li a {
    display: block;

}

.navbar a:hover {
    background-color: rgb(182, 216, 252);
}


.header .menu-icon .nav-icon:before{
    background: darkgray;
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5px;
}


