header {
    background-color: #89023e;
    color: white;
    font-size: 15px;
    margin: 0px;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: 'poppins';
}
nav {
    display: block;
    width: 100%;
    height: 55px;
}


li > ul {
    display: none;
}

ul li ul.dropdown{
    display: block;
}

.navbar ul li ul.dropdown {
    display: none;
}

.navbar ul li:hover >ul.dropdown {
    display: block;
    width: auto;
    margin: 5px;
}
.navbar {
  padding-bottom: 25px;
}
.navbar ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: .5em;
    gap: 10px;
    background-color:white;
    color: white;
    list-style: none;
    flex-shrink: 1;

}


nav > ul li {
    position: relative;
    text-align: center;

}

nav ul > li ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 1000;
}

nav > ul > li:hover > ul {
    display: block;
}

.dropdown li a:hover {
    background: #b1dfe6;
}


ul li ul.dropdown{
    width: 100%;
    background: #22438C;
    position: absolute;
}

.nav-logo {
    height: 75px;
    background-color: white;
    margin-right: auto;

}
.navbar a{
    font-size: 15px;
    color: #15616d;
    background-color: white;
    text-decoration: none;
    padding: 6px;
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: -10px;
    position: relative;
}

.navbar ul li a {
    display: block;

}

.navbar a:hover {
    background-color: rgb(182, 216, 252);
}

.projectshortcuts a:hover {
      background-color: rgb(182, 216, 252); 
}


.header .menu-icon .nav-icon:before{
    background: darkgray;
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5px;
}

.mobile-menu {
  display: none;
  width: 100%;
  height: 100px;
  gap: 1rem;
}

.mobile-menu ul a{
    color: white;
    text-decoration: none;
     gap: 3px
}
#menu-toggle {
  display: none;
}
.mobile-menu a:hover {
  background-color: rgb(182, 216, 252); 
}

#menu-toggle:checked ~ .mobile-menu {
  display: flex;
}

.navdropdown {
    display: none;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }}

@media (max-width:768px){

 .hamburger {
    display: block;
    margin-left: auto;
 }
  .mobile-menu ul{
    display: block;
    list-style-type: none;
    padding: 2px;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}

 .navbar {
    display: none;
 }
 .hamburger:hover .mobile-menu {
    display: block;
    list-style-type: none;
    padding: 4px;
    gap: 1rem;
 }


}
/* display changes for mobile and tablet users */
@media (max-width: 600px) {  
  
 .image-container .button-link {
  display: none;
} 
  .image-container h1 {
  font-size: 25px;
  line-height: 1.2;
 } 
  .digitalannotation {
    flex-direction: column-reverse; /* stack vertically */
    align-items: flex-start;
  }
  .digitalannotation h2 {
    font-size: 14px;
    text-align: center;
  }
  .digitalannotation p {
    font-size: 12px;
  }
  .shortcutkeys {
    flex-direction: column; /* stack vertically */
    align-items: flex-start;
  }
    .shortcutkeys h2 {
    font-size: 14px;
    text-align: center;
  }
    .shortcutkeys ul {
    font-size: 14px;
  }
  .shortcutkeys p {
    font-size: 12px;
  }
  .digitizing h2 {
    font-size: 14px;
    text-align: center;
  }
  caption {
    font-size: 14px !important;
  }
  th {
    font-size: 12px !important;
  }
  td {
    font-size: 10px !important;
  }
  .digitizing p {
    font-size: 12px;}
  .digitizing ul {
    font-size: 14px;}

  .projectshortcuts{
    flex-direction: column; /* stack vertically */
    align-items: flex-start;
 }
 .projectshortcuts .column {
    padding: 10px;
    border: 0;
    margin: 0; 
 }
 .greetings {
    font-size: 16px;
    text-align: center;
 }
 .names {
  flex-direction: column;
 }
  }

