header {
    background-color: #89023e;
    font-size: 15px;
    text-indent: 10px;
    padding-top: 5px;
    font-family: 'poppins';
}

nav {
    background-color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;

}
.nav-logo {
    width: 50px;
    height: auto;
    background-color: white;
}
.navbar ul {
    list-style: none;
    padding: 5px;
    margin: 0px;
    display: flex;
}
.navbar ul li {
    margin-right: 40px;
}

.navbar a {
    display: block;
    font-size: 15px;
    color: #15616d;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    gap: 10px;
    
}
.navbar a:hover {
    background-color: rgb(182, 216, 252);
}