
header {
    color: white;
    background-color: #89023e;
    font-weight:bold;
    margin:1px;
}

.hero h1 {
    font-size: 50px;
   text-align: center;
    color: #89023e;
    background-image: url(heroimage.png);
      width: 100%;
}
.hero p {
    text-align: center;
    font-size: 18px;}
.image-container {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(heroimage.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.overlay-text{
    position: absolute;
    color: black;
    text-align: center;
    padding: 20px;
}
a{
    text-decoration: none;
}

h1{
color: white;
font-family: 'poppins';
text-align: center;
font-size: 34px;
background-color: #15616d;
margin: 1px;
padding: 10px;
}

button {
    background-color: #89023e;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    border: black;
}
button:hover {
    background-color: lightblue;
    color: black;
}
.button-link{
    background-color: #89023e;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    margin-left: 39px;
}
.button-link:hover {
    background-color: lightblue;
    color: black;
}
h2 {
    color: #89023e;
    font-family: 'poppins';
    font-size: 20px;
    margin: 1px;
    padding: 5px;

}
h3 {
    color: black;
    font-size: 18px;
    font-family: 'roboto';
}
p{
color: black;
font-size: 16px;
font-family: 'roboto'; 
margin: 1px;
padding-left: 5px;
padding-bottom: 20px;
}

.resources-main p::first-letter {
    font-size: 200%; color: #15616d;
}

.resources::first-line {
   text-decoration: wavy;
}

.resources h2:only-of-type {
margin-left: 50px;
}

#project{
    background-color: rgb(252, 12, 12);
    width:fit-content;
    border: 15px solid blue;
    padding: 50px;
    margin: 20px;
}

blockquote{
    color: white;
    background-color: #89023e;
    font-size: 16px;
    font-family: 'roboto';
    text-align: center;
    padding: 10px 5px 10px 5px;
}

ul {
    list-style-type: square;
    font-size: 16px;
    font-family: 'Roboto';
    color: black;
}

.resources {
    background-color: #e4dfda;
}
.footer{
    color: white;
    padding: 20px 5px 7px 5px;
    font-size: 12px;
    background-color: #15616d;
    font-family: 'poppins';
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.headshot {
    float: right;
    display: flex;
    width: 150px;
    margin: 10px;
    border: dotted 4px #15616d;
    border-radius: 5px;

}

video {
    float: left;
    display: flex;
    margin: 10px;
}

video:hover {
    transform: scale(1.20);
}

@media print {
    @page {
        margin: 1in;
    }
    * {color: black !important;
    background-color: white !important;
    font-family: serif !important;}

nav{display:none;}
         
body {
    font-size: 12pt;
    line-height: 1.2;
    list-style: none;
}
.footer{
    img {display: none;}
    color:black;}
}


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid gray;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical}

input[type=email], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid gray;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical}

input[type=submit] {
  background-color: #89023e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;}


input[type=submit]:hover {
  background-color: #500125;}

.container {
  border-radius: 5px;
  background-color: #e4dfda;
  padding: 20px;}

  .contentpar {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center !important;}

.pets {
    list-style-type: none !important;
}


#layout {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    gap: 4px;
}

#one {  
    grid-column: span 2 / span 2;
    grid-row-start: 1;
}
#two{
   grid-column: span 2 / span 2;
    grid-row-start: 2;
}
#three {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    background-color: #e4dfda;
    font-size: 12px;
    padding: 3px;
}
#four {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}
#five {
    grid-column: span 3/ span 3;
    grid-row-start: 5;
}

#three h3{
    padding: 8px;
}

.h2project {
    text-align: center;
    font-size: 12px;
    color: white;
    background-color:#89023e;
}

.projectshortcuts {
    display: flex;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    gap: 3rem;
    padding: 12px;
}
.projectshortcuts .column {
    font-size: 15px;
    font-weight: bold;    
}

.projectshortcuts p {
        font-size: 15px;
        font-weight: normal;
}
.projectshortcuts a {
    color: #89023e;
}

.column {
    margin-top: 15px;
    flex: 1;
    padding: 1rem;
}
.column.special {
    background-color: #e4dfda;
}

.digitalannotation {
  display: flex;       /* activate flexbox */
  align-items: center; /* vertically align image and text */
  gap: 1rem;           /* space between image and text */
}


.image img {
    max-width: 500px;   /* control image size */
  height: auto;        /* keep proportions */
}

.text {
   flex: 1;          /* text takes remaining space */
}

.shortcutkeys {
  display: flex;       /* activate flexbox */
  align-items: center; /* vertically align image and text */
  gap: 1rem;           /* space between image and text */
}
.imagedigital{
    text-align: center;
    margin-bottom: 50px;
}
.imagedigital:hover{
    transform: scale(1.2);
}

.shortcutkeys ul{
    margin-top: .1em;
}

.digitizing ul{
    margin-top: .1em   ;
}

.image:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);}

table {
  width: 90%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding-right: 6px;
}
caption {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  caption-side: top;   
  margin-bottom: 8px;
}
th, td {
  border: 1px solid #333;
  margin-top: 10px;
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #e4dfda; 
}

th {
  font-size: 16px;
  font-weight: bold;
}

td {
  font-size: 13px;
}


tr:nth-child(even) {
  background-color: #e4dfda; 
}

tr:hover {
  background-color: #e0f7fa; 
}
