
header {
    color: white;
    background-color: #89023e;
    font-weight:bold;
    margin:1px;
    text-indent: 5px;
    position: relative;

}

.hero h1 {
    font-size: 50px;
   text-align: center;
    color: #89023e;
    background-color: transparent;
    position: relative;
}
.hero p {
    text-align: center;
    font-size: 18px;
    padding-bottom: 25px;
}
.image-container {
    position: relative;
    width: 100%;
    height: 400px; /* or 100vh for full screen */
    overflow: hidden;
    background-image: url("heroimage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* responsive scaling */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
}
.greetings h2 {
    padding-bottom: 30px;
}

.overlay-text{
    position: absolute;
    color: black;
    text-align: center;
    padding: 20px;
}
a{
    text-decoration: none;
}

.resources-main a{
    color: blue;
    text-decoration: underline;
}

.resources-main a:hover{
 background-color: lightblue; 
}

h1{
color: white;
font-family: 'poppins'; /* Custom font from Google Fonts applied to site */
text-align: center;
font-size: 40px;
background-color: #15616d;
margin: 1px;
padding-top: 20px;
padding-bottom: 20px;
letter-spacing: 1px;
text-shadow: 2px 2px 5px rgba(0,0,0,0.5);/* Custom styles for all <h1 or h2> elements */
position: relative;
}

button {
    background-color: #89023e;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    padding: 6px;
    border: black;
}
button:hover {
    background-color: lightblue;
    color: black;
}
.button-link{
    background-color: #89023e;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding: 12px;
    margin-left: 39px;
}
.button-link:hover {
    background-color: lightblue;
    color: black;
}
h2 {
    color: #89023e;
    font-family: 'poppins';/* Custom font from Google Fonts applied to site */
    font-size: 20px;
    margin: 1px;
    padding: 5px;

}
h3 {
    color: black;
    font-size: 18px;
    font-family: 'roboto';/* Custom font from Google Fonts applied to site */
}
p{
color: black;
font-size: 16px;
font-family: 'roboto'; /* Custom font from Google Fonts applied to site */
margin: 1px;
padding-left: 5px;
padding-bottom: 20px;
}
label {
    color: black;
    font-size: 15px;
    font-family: 'roboto'; /* Custom font from Google Fonts applied to site */
}
.names {
  display: flex;
  flex-direction: row;
  gap: 20px; }                     /* space between boxes */

.name {
    flex: 1;
}


.container p {
    padding: 3px;
}


blockquote{
    color: white;
    background-color: #89023e;
    font-size: 16px;
    font-family: 'roboto'; /* Custom font from Google Fonts applied to site */
    text-align: center;
    padding: 10px 5px 10px 5px;
}

ul {
    list-style-type: square;
    font-size: 16px;
    font-family: 'Roboto';/* Custom font from Google Fonts applied to site */
    color: black;
}

.resources {
    background-color: #e4dfda;
}
.footer{
    color: white;
    padding: 15px 5px 10px 5px;
    height: 20px;
    font-size: 12px;
    background-color: #15616d;
    font-family: 'poppins';/* Custom font from Google Fonts applied to site */
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}
.footer .emailicon {
   vertical-align: middle;
}

.footer img:hover {
    transform: scale(1.4);
    color: #89023e;
    box-shadow: 0 0 8px rgba(0, 150, 255, 0.6)
}


.headshot {
    float: right;
    display: flex;
    width: 150px;
    margin: 10px;
    border: dotted 4px #15616d;
    border-radius: 5px;

}

video {
    float: left;
    display: flex;
    margin: 10px;
}

video:hover {
    transform: scale(1.20);
}

@media print {
    @page {
        margin: 1in;
    }
    * {color: black !important;
    background-color: white !important;
    font-family: serif !important;}

nav{display:none;}
         
body {
    font-size: 12pt;
    line-height: 1.2;
    list-style: none;
}
.footer{
    img {display: none;}
    color:black;}
}


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid gray;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical}

input[type=email], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid gray;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical}

input[type=submit] {
  background-color: #89023e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;}


input[type=submit]:hover {
  background-color: #500125;}

.container {
  border-radius: 5px;
  background-color: #e4dfda;
  padding: 20px;}

  .contentpar {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center !important;}

.pets {
    list-style-type: none !important;
}


#layout {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    gap: 4px;
}

#one {  
    grid-column: span 2 / span 2;
    grid-row-start: 1;
}
#two{
   grid-column: span 2 / span 2;
    grid-row-start: 2;
}
#three {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    background-color: #e4dfda;
    font-size: 12px;
    padding: 3px;
}
#four {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}
#five {
    grid-column: span 3/ span 3;
    grid-row-start: 5;
}

#three h3{
    padding: 8px;
}

.h2project {
    text-align: center;
    font-size: 12px;
    color: white;
    background-color:#89023e;
}

.projectshortcuts {
    display: flex;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    gap: 3rem;
    padding: 12px;
}
.projectshortcuts .column {
    font-size: 15px;
    font-weight: bold;    
}

.projectshortcuts p {
        font-size: 15px;
        font-weight: normal;
}
.projectshortcuts a {
    color: #89023e;
}

.column {
    margin-top: 15px;
    flex: 1;
    padding: 1rem;
}
.column.special {
    background-color: #e4dfda;
}

.digitalannotation {
  display: flex;       /* activate flexbox */
  align-items: center; /* vertically align image and text */
  gap: 1rem;           /* space between image and text */
}
.digitalannotation h2 {
    margin-top: 40px;
}

#annotation1 img {
    margin-top: 40px;
}

.image img {
    max-width: 500px;   /* control image size */
  height: auto;        /* keep proportions */
}

.text {
   flex: 1;          /* text takes remaining space */
}

.shortcutkeys {
  display: flex;       /* activate flexbox */
  align-items: center; /* vertically align image and text */
  gap: 1rem;           /* space between image and text */
}
.imagedigital{
    text-align: center;
    margin-bottom: 50px;
}
.imagedigital:hover{
    transform: scale(1.2);
}

.shortcutkeys ul{
    margin-top: .1em;
}

.digitizing ul{
    margin-top: .1em   ;
}

.image:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);}

table {
  width: 90%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding-right: 6px;
}
caption {
  font-size: 1.2rem;
  font-family: 'roboto';/* Custom font from Google Fonts applied to site */
  font-weight: bold;
  text-align: center;
  caption-side: top;   
  margin-bottom: 8px;
}
th, td {
  border: 1px solid #333;
  margin-top: 10px;
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #e4dfda; 
}

th {
  font-size: 16px;
  font-weight: bold;
  font-family: 'poppins';/* Custom font from Google Fonts applied to site */
}

td {
  font-size: 13px;
  font-family: 'poppins'; /* Custom font from Google Fonts applied to site */
}


tr:nth-child(even) {
  background-color: #e4dfda; 
}

tr:hover {
  background-color: #e0f7fa; 
}

.guides h2{text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);/* Custom styles for all <h2> elements on project webpage */
letter-spacing: 1px;
margin-bottom: 20px;
}
